<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 h-screen"
>
  <div class="flex justify-center items-center gap-y-4 h-screen">
    <div class="flex flex-col justify-center">
      <div>
        <h1 class="font-bold text-4xl">Sign In</h1>
        <div class="my-4">
          <span class="inline-block">
            <p class="font-bold">
              New User?
              <a href="/login" class="text-blue-500">Create an account</a>
            </p>
          </span>
        </div>
      </div>
      <div>
        <div class="my-8">
          <form action="">
            <input
              type="text"
              placeholder="Email"
              class="border-2 border-black h-12 w-auto sm:auto md:w-96 lg:w-96 placeholder:text-gray-800 font-bold pl-[14px]"
            />
          </form>
        </div>
        <div class="my-8">
          <form action="">
            <input
              type="text"
              placeholder="Password"
              class="border-2 border-black h-12 w-auto sm:auto md:w-96 lg:w-96 placeholder:text-gray-800 font-bold pl-[14px]"
            />
          </form>
        </div>
      </div>
      <div>
        <input
          type="checkbox"
          name="checkbox"
          id=""
          class="border-black w-4 h-4"
        />&nbsp;
        <label for="checkbox">Keep me signed in</label>
      </div>
      <div
        class="bg-slate-600 text-center w-96 h-12 w-auto sm:auto md:w-96 lg:w-96 my-4"
      >
        <button type="submit" class="text-white font-bold my-3">Login</button>
      </div>
      <div class="flex flex-row justify-center inline-block">
        <hr
          class="w-auto sm:auto md:w-28 lg:w-28 h-1 my-6 mx-3 bg-gray-200 border-0 rounded dark:bg-gray-700"
        />
        <p class="my-3">Or Sign In With</p>
        <hr
          class="w-auto sm:auto md:w-28 lg:w-28 h-1 my-6 mx-3 bg-gray-200 border-0 rounded dark:bg-gray-700"
        />
      </div>
    </div>
  </div>
  <div class="grid place-content-center">
    <div>
      <img
        class="h-96"
        src="https://previews.123rf.com/images/jemastock/jemastock2002/jemastock200201184/139187155-avatar-woman-walking-and-wearing-casual-clothes-over-white-background-colorful-design-vector.jpg"
        alt=""
      />
    </div>
  </div>
</div>
